*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding-top: 121.2px;
}

.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
    display: block;
}

.about {
    &__card {
        border: 0.1rem solid $grey;
        margin-top: 4rem;
        padding: 2.5rem;
    }
    &__title {
        margin-bottom: 1.5rem;
        font-size: 3.2rem; 
    }
    &__description {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        color: $text-grey;
        &:last-child {
            margin-bottom: 0; 
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 185px;
    }
    .about {
        &__card {
            margin-top: 2.5rem;
            padding: 2rem;
        }
        &__title {
            margin-bottom: 1rem;
            font-size: 2.6rem; 
        }
        &__description {
            font-size: 1.4rem;
        }
    }      
}

@media screen and (max-width: 520px) {
    body {
        padding-top: 205px;
    }
    .about {
        &__title {
            font-size: 2rem; 
        }
    }      
}