*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  display: block; }

.about__card {
  border: 0.1rem solid #e6e6e6;
  margin-top: 4rem;
  padding: 2.5rem; }

.about__title {
  margin-bottom: 1.5rem;
  font-size: 3.2rem; }

.about__description {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #798184; }
  .about__description:last-child {
    margin-bottom: 0; }

@media screen and (max-width: 767px) {
  .about__card {
    margin-top: 2.5rem;
    padding: 2rem; }
  .about__title {
    margin-bottom: 1rem;
    font-size: 2.6rem; }
  .about__description {
    font-size: 1.4rem; } }

@media screen and (max-width: 520px) {
  .about__title {
    font-size: 2rem; } }

*,
html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2; }

input,
select,
textarea {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4.2rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

p,
ul,
li {
  font-size: 1.4rem; }

strong {
  font-weight: 700; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #777777; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #777777; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #777777; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #777777; }

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2.4rem; }
  h4 {
    font-size: 2rem; }
  h5 {
    font-size: 1.6rem; }
  h6 {
    font-size: 1.4rem; } }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.6rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.8rem; }
  h5 {
    font-size: 1.4rem; }
  h6 {
    font-size: 1.2rem; } }

.marginTop5 {
  margin-top: 0.5rem !important; }

.marginTop10 {
  margin-top: 1rem !important; }

.marginTop15 {
  margin-top: 1.5rem !important; }

.marginTop20 {
  margin-top: 2rem !important; }

.marginTop25 {
  margin-top: 2.5rem !important; }

.marginTop30 {
  margin-top: 3rem !important; }

.marginLeft5 {
  margin-left: 0.5rem !important; }

.marginLeft10 {
  margin-left: 1rem !important; }

.marginLeft15 {
  margin-left: 1.5rem !important; }

.marginLeft20 {
  margin-left: 2rem !important; }

.marginLeft25 {
  margin-left: 2.5rem !important; }

.marginLeft30 {
  margin-left: 3rem !important; }

.marginRight5 {
  margin-right: 0.5rem !important; }

.marginRight10 {
  margin-right: 1rem !important; }

.marginRight15 {
  margin-right: 1.5rem !important; }

.marginRight20 {
  margin-right: 2rem !important; }

.marginRight25 {
  margin-right: 2.5rem !important; }

.marginRight30 {
  margin-right: 3rem !important; }

.marginBottom5 {
  margin-bottom: 0.5rem !important; }

.marginBottom10 {
  margin-bottom: 1rem !important; }

.marginBottom15 {
  margin-bottom: 1.5rem !important; }

.marginBottom20 {
  margin-bottom: 2rem !important; }

.marginBottom25 {
  margin-bottom: 2.5rem !important; }

.marginBottom30 {
  margin-bottom: 3rem !important; }

.paddingTop5 {
  padding-top: 0.5rem !important; }

.paddingTop10 {
  padding-top: 1rem !important; }

.paddingTop15 {
  padding-top: 1.5rem !important; }

.paddingTop20 {
  padding-top: 2rem !important; }

.paddingTop25 {
  padding-top: 2.5rem !important; }

.paddingTop30 {
  padding-top: 3rem !important; }

.paddingLeft5 {
  padding-left: 0.5rem !important; }

.paddingLeft10 {
  padding-left: 1rem !important; }

.paddingLeft15 {
  padding-left: 1.5rem !important; }

.paddingLeft20 {
  padding-left: 2rem !important; }

.paddingLeft25 {
  padding-left: 2.5rem !important; }

.paddingLeft30 {
  padding-left: 3rem !important; }

.paddingRight5 {
  padding-right: 0.5rem !important; }

.paddingRight10 {
  padding-right: 1rem !important; }

.paddingRight15 {
  padding-right: 1.5rem !important; }

.paddingRight20 {
  padding-right: 2rem !important; }

.paddingRight25 {
  padding-right: 2.5rem !important; }

.paddingRight30 {
  padding-right: 3rem !important; }

.paddingBottom5 {
  padding-bottom: 0.5rem !important; }

.paddingBottom10 {
  padding-bottom: 1rem !important; }

.paddingBottom15 {
  padding-bottom: 1.5rem !important; }

.paddingBottom20 {
  padding-bottom: 2rem !important; }

.paddingBottom25 {
  padding-bottom: 2.5rem !important; }

.paddingBottom30 {
  padding-bottom: 3rem !important; }

.articles {
  margin-top: 2rem; }
  .articles__wrapper {
    display: flex; }
  .articles__left {
    flex: 0.6; }
  .articles__right {
    flex: 0.4; }

.article {
  border: 0.1rem solid #e6e6e6;
  padding: 2.5rem 0 4rem 0;
  position: relative; }
  .article > a {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    color: #1ac7c3;
    font-size: 1.6rem; }
  .article__wrapper {
    padding: 0 3rem; }
  .article__type {
    font-size: 1.6rem;
    color: #1ac7c3; }
  .article__intro {
    font-size: 2.4rem;
    margin: 1rem 0 2.5rem 0;
    text-transform: uppercase; }
  .article__imageContainer {
    width: 100%;
    height: 100%; }
  .article__image {
    object-fit: contain;
    width: 100%;
    height: auto; }
  .article__description {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 2.5rem;
    color: #798184;
    font-weight: 400; }

.article-small {
  border: 0.1rem solid #e6e6e6;
  border-left: 0;
  border-bottom: 0;
  position: relative; }
  .article-small:nth-child(even) {
    background-color: #f4f4f4; }
  .article-small:last-child {
    border-bottom: 0.1rem solid #e6e6e6; }
  .article-small > a {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    color: #1ac7c3; }
  .article-small__wrapper {
    padding: 2rem;
    display: flex; }
  .article-small__imageContainer {
    flex: 0.4;
    height: 100%;
    margin-right: 2rem; }
  .article-small__image {
    object-fit: contain; }
  .article-small__type {
    font-size: 1.2rem;
    color: #1ac7c3;
    text-align: left; }
  .article-small__intro {
    color: #282828;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.2;
    margin: .5rem 0; }
  .article-small__description {
    color: #798184;
    font-size: 1.4rem;
    margin: 1rem 0; }
  .article-small__date {
    color: #798184;
    font-size: 1.4rem; }

.submenu {
  border: 0.1rem solid #e6e6e6;
  background-color: #f4f4f4;
  padding: 2rem 0; }
  .submenu__ul {
    display: flex;
    list-style-type: none; }
  .submenu__li {
    margin-right: 3rem;
    font-size: 1.6rem; }
    .submenu__li:first-child {
      color: #282828; }
    .submenu__li:last-child {
      margin-right: 0; }
  .submenu__link {
    text-decoration: none;
    color: #798184; }
    .submenu__link:hover {
      transition: all 0.4s;
      color: #1ac7c3; }
    .submenu__link.active {
      color: #1ac7c3; }

.header {
  background-color: #282828;
  color: #ffffff;
  padding: 1.5rem 0; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #798184; }
  .header__selectWrapper {
    flex: 1;
    margin: 0 3rem; }
  .header__select {
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.4rem; }
  .header__ul {
    display: flex;
    list-style-type: none; }
  .header__li {
    font-size: 1.6rem;
    margin-right: 2rem; }
    .header__li:last-child {
      margin-right: 0; }
  .header__link {
    color: #f4f4f4;
    text-decoration: none; }
    .header__link:hover {
      transition: all .4s;
      color: #1ac7c3; }
  .header__link.active {
    color: #1ac7c3; }

@media screen and (max-width: 767px) {
  .header {
    padding: 1.5rem 0; }
    .header__wrapper {
      display: block; }
    .header__title {
      font-size: 1.6rem; }
    .header__selectWrapper {
      flex: 1;
      margin: 0; }
    .header__select {
      padding-left: 0.5rem;
      margin: 1rem 0 1.5rem 0; }
    .header__li {
      font-size: 1.4rem; } }

.footer {
  background-color: #282828;
  color: #ffffff;
  padding: 3rem 0;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 10rem; }
